#bookings {
    width: 100%;
    height: fit-content;
}

h1 {
    font-family: $family-1;
    text-align: center;
    margin: 20px 0px;
}

iframe {
    margin-bottom: 20px;
    
    .geS5n {
        border-radius: 0px;
        border: 1px solid black;
    }
}
