$color1:#052639;
$color2:#E7CA71;
$color3:#fff;
$color4:#F4F6F3;
$color5:#266980;

$font1:55px;
$font2:45px;
$font2_5:35px;
$font3:23px;
$font4:20px;
$font5:18px;
$font6:16px;

$family-1: 'Noto Serif JP', serif;
$family-2: 'Karla', sans-serif;

